name: schoolmanagement

services:

  apigateway:
    image: schoolmanagement/apigateway
    build:
      context: .
      dockerfile: ApiGateway.API/Dockerfile
    container_name: apigateway
    ports:
      - "9000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    depends_on:
      - identity-api
      - school-api
      - student-api

  identity-api:
    image: schoolmanagement/identity-api
    build:
      context: .
      dockerfile: Identity.API/Dockerfile
    container_name: identity-api
    ports:
      - "7046:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker

  school-api:
    image: schoolmanagement/school-api
    build:
      context: .
      dockerfile: School.API/Dockerfile
    container_name: school-api
    ports:
      - "7030:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker

  student-api:
    image: schoolmanagement/student-api
    build:
      context: .
      dockerfile: Student.API/Dockerfile
    container_name: student-api
    ports:
      - "7169:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
